.createRole input[type="text"] {
  width: 98%;
  border-radius: 5px;
  height: 30px;
}

.createRole label {
  padding: 5px;
  margin: 5px 0px 5px 0px;
  font-size: larger;
  font-weight: 1000;
  display: block;
}

h2 {
  margin: 10px 0px 5px 12px;
}

.createButton {
  background-color: #4cae4c;
  color: white;
  position: unset;
  padding: 10px 15px;
  margin-left: 10px;
}

.backward {
  background-color: #2e6da4;
  margin-left: 8px;
  left: 20px;
  padding: 10px 15px;
}
