input[type="password"] {
  margin-top: 2%;
  width: 95%;
  border-radius: 5px;
  height: 30px;
}

.checkbox {
  margin-left: 30%;
  margin-top: 2%;
  display: inline-block;
  color: black;
}

.usersForm input[type="text"] {
  margin-top: 2%;
  width: 95%;
  margin-left: 0px;
}

.usersForm {
  margin-left: 20px;
}
.usersForm input[type="checkbox"] {
  text-align: unset;
  margin-left: 35px;
}

select {
  border-radius: 5px;
  width: 47.5%;
  height: 30px;
  border-radius: 5px;
  margin-top: 2%;
}

.createUser-btn {
  background-color: #4cae4c;
  color: white;
  width: 96%;
  margin-top: 1%;
  border-radius: 5px;
  height: 35px;
  position: unset;
  border-radius: 10px;
}

.backwardUser {
  background-color: #2e6da4;
  margin-left: 8px;
  left: 20px;
  padding: 10px 15px;
  margin-top: 0px;
}
