table,
td,
th {
  border: 1px solid;
}

table {
  width: 95%;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}

th,
td {
  padding: 5px 5px;
}

thead tr th {
  color: black;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.roleList input[type="text"] {
  width: 98%;
  padding: 10px 0px;
  margin: 5px 0px;
  font-size: medium;
}

.roleList .create-roleList {
  background-color: #4cae4c;
  color: white;
  /* float: left; */
  /* text-align: left; */
  float: left;
  position: unset;
  margin: 10px 0px;
}
.rolesHead {
  /* margin-left:80px ; */
  margin: 3px 0px 0px 35px;
}

img {
  width: 15px;
  padding: 2px;
  /* margin: 0px 4px 0px 4px; */
  /* text-align: center; */
  /* margin: auto; */
}
