input[type="password"] {
  width: 98%;
  margin-left: 10px;
  margin-top: 2%;
  border-radius: 5px;
  height: 30px;
}

.checkbox {
  margin-left: 30%;
  margin-top: 2%;
  display: inline-block;
  color: black;
}

.usersForm input[type="text"] {
  margin-top: 2%;
}

.usersForm input[type="checkbox"] {
  text-align: unset;
}

select {
  width: 48%;
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
  margin-top: 2%;
  padding: 5px;
}

.createUser-btn {
  background-color: #4cae4c;
  color: white;
  width: 98%;
  margin-left: 0px;
  margin-top: 1%;
  border-radius: 5px;
  height: 30px;
  position: unset;
  margin-left: 10px;
}

.backUser-btn{
  background-color: red;
  color: white;
  width: 98%;
  margin-left: 0px;
  margin-top: 1%;
  border-radius: 5px;
  height: 30px;
  position: unset;
  margin-left: 10px;
}
